<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.mapper.OB1mapper">
    <!--selectQuestionByCourseName-->
    <select id="selectQuestionByCourseName" resultType="com.mt.domain.Objective_question1">
        select * from objective_question1 where questionname = #{courseName}
    </select>
    <!--selectQuestionbyQuestionid(Long questionid);-->
    <select id="selectQuestionbyQuestionid" resultType="com.mt.domain.Objective_question1">
        select * from objective_question1 where questionid = #{questionid}
    </select>
</mapper>