<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.Paper1mapper">
    <!--insertPaper(Paper paper);-->
    <insert id="insertPaper">
        insert into paper (id,paperid,testlevel,testcourse,questionteacher,question,questiontype,questionanswer)
        values (#{id},#{paperid},#{testlevel},#{testcourse},#{questionteacher},#{question},#{questiontype},#{questionanswer})
    </insert>
    <!--selectPaperByPaperId(Long id)-->
    <select id="selectPaperByPaperId" resultType="com.example.backend.domain.Paper">
        select * from paper where paperid = #{id}
    </select>
</mapper>