<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.User1mapper">
    <!--selectByuserNameAndPassword(String userName,String password)-->
    <select id="selectByuserNameAndPassword" resultType="com.example.backend.domain.User">
        select * from user where (username = #{userName} and password = #{password} and type = #{type})
    </select>
    <!--selectByUserId(String userId)-->
    <select id="selectByUserId" resultType="com.example.backend.domain.User">
        select * from user where userid = #{userId}
    </select>
    <!--insertUser-->
    <insert id="insertUser">
        insert into user (id,userid,username,password,sex,phone,specialty,faculties,class,type)
        values (#{id},#{userid},#{username},#{password},#{sex},#{phone},#{specialty},#{faculties},#{uclass},#{type})
    </insert>
</mapper>